@model E_shop.Models.Produit

@{
    ViewBag.Title = "Modifier";
}

<h2>Modifier le produit : </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal">
        <fieldset>
            <legend>Modifier un produit</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">ID du produit : </label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.IdProduit)
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description : </label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Quantite : </label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Quantite)
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Prix : </label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Prix)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" value="Modifier" class="btn btn-primary">Modifier</button>
                    <button type="button" onclick="location.href='@Url.Action("ListeProduit","Produit")'">Revenir au catalogue</button>
                </div>
            </div>
        </fieldset>
    </form>

}